@import "../node_modules/bootstrap/scss/bootstrap.scss";

.otro-blockquote::before{
    font-family: Arial;
    content: "\201C";
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-12px;
  }
  
  .otro-blockquote::after{
    content: '';
  }
  
  